@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/futura-light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/futura-book.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Futura';
  src: url('./assets/fonts/futura-bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Avanti';
  src: url('./assets/fonts/avanti-bold.woff') format('woff');
  font-weight: 700;
}
